body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.App {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.ExpenseForm{
  margin-bottom: 30px;
}
/* App.css */

/* App.css */

body {
  background-color: #f5f5f5; /* Cambiar el color de fondo del body para una ligera diferencia */
}

.dashboard {
  font-family: 'Arial', sans-serif;
  max-width: 900px;
  margin: 50px auto; /* A침adido espacio vertical */
  padding: 20px;
  background-color: #ffffff; /* Fondo blanco para el dashboard */
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.dashboard h2 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

.dashboard-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}

.expenses-section, 
.income-section {
  flex: 1;
  min-width: 40%;
  padding: 20px;
  background-color: #f9f9f9; /* A침adir un color de fondo m치s claro */
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border-radius: 10px;
  margin: 10px;
}

.expenses-section h3,
.income-section h3 {
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 10px;
  margin-bottom: 15px;
  font-size: 20px;
  color: #555;
}
/* App.css - a침adir esto al final */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #e0e0e0;
}

th, td {
  padding: 10px;
  text-align: left;
}

.ganancia-section {
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border-radius: 10px;
  margin: 10px;
  background-color: #f9f9f9;
}


h2 {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: bold;
}

input {
  padding: 8px 12px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 14px;
}

button {
  padding: 10px 15px;
  background-color: #333;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #555;
}

p {
  margin-bottom: 10px;
}

/* Media queries para mejorar responsividad */
@media (max-width: 600px) {
  .App {
      margin: 20px 10px;
      padding: 15px;
  }
}
